{% extends "base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Картина из нитей по любой фотографии</title>
</head>

<body style="background-image: url('{% static 'generator\images\background.svg' %}'); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

    <div class="main-container">
        <h1 style="margin-top: 100px;">Toutes nos félicitations!</h1>
        <h1>Le lien vers le manuel a été généré avec succès.</h1>
    </div>  
</body>
</html>

{% endblock %}